header img{
    left: auto;


    
}
header h1 {
    padding-left: 55px;
   
    margin-top: -50px;

}
header h4{
    padding-left: 55px;
    margin-top: -25px;

}


nav{     margin-bottom: 20px;}
nav ul{
margin-left: 20%;
box-sizing: border-box;
margin-top: -70px;
}
nav ul li{    display:inline-block;    padding: 20px;}
nav ul li:last-child{position: relative;     right: 20px;}
#one {
    left: auto;
}



#ac{
    
    margin-left: 50%;
}
#two{
    width: 50%;
padding-right: 50px;
text-indent:1em;

}
#left{
    float: left;
}
#right{
    margin-left: 25%;
}
#share{
    margin-left: 40%;
margin-top: 5%;}

#auther{margin-left: 2%;}
#bio{
    margin-left: 8%;
    margin-bottom: -20px;
}
